<ion-header>
  <ion-toolbar>
    <ion-title>formpersona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombres</ion-label>
    <ion-input [(ngModel)]="objPersona.nombres"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input [(ngModel)]="objPersona.apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input [(ngModel)]="objPersona.edad" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento</ion-label>
    <ion-input [(ngModel)]="objPersona.fechaNacimiento" type="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="full" (click)="guardarPersona()">Guardar</ion-button>
  </ion-item>
</ion-content>